{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper container">
    <div class="container-fluid m-3" style="padding:13px; margin:auto">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">
                    {{attr.song_labels.0}}
                </h3>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="list-item">
                        <strong>Artist</strong>: {{artist}}
                    </li>
                    <li class="list-item">
                        <strong>Album</strong>: {{album_labels}}
                    </li>
                    <li class="list-item">
                        <strong>Highest Charting Position</strong>: {{attr.charting_positions.0}}
                    </li>
                    <li class="list-item">
                        <strong>Popularity</strong>: {{attr.popularities.0}}
                    </li>
                    <li class="list-item">
                        <strong>Streams</strong>: {{attr.streams.0}}
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li class="list-item">
                        <strong>Producer</strong>: {{producer_labels}}
                    </li>
                    <li class="list-item">
                        <strong>Writer</strong>: {{writer_labels}}
                    </li>
                    <li class="list-item">
                        <strong>Genre</strong>: {{attr.genres.0}}
                    </li>
                    <li class="list-item">
                        <strong>Release Date</strong>: {{attr.release_dates.0}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{comment}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    Music Attributes
                </h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <strong>Attributes</strong>
                            </th>
                            <th>
                                <strong>Value</strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Chord
                            </td>
                            <td>
                                {{chord}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tempo
                            </td>
                            <td>
                                {{attr.tempos.0}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Energy
                            </td>
                            <td>
                                {{attr.energies.0}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Loudness
                            </td>
                            <td>
                                {{attr.loudness.0}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Speechiness
                            </td>
                            <td>
                                {{attr.speechiness.0}}
                            </td>
                        </tr>				
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}