{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper container">

  <div class="page-heading">
    <h3>Search Spotify Top 200 Songs</h3>
  </div>
  <div class="page-content">
    <form action="{% url 'spotify:search' %}" method="get">
      <div class="input-group mb-3">
      <span
        class="input-group-text"
        id="basic-addon1"
      ><i class="bi-2x bi-search"></i></span>
      <input
        aria-describedby="button-addon2"
        aria-label="What songs are you currently listen to?"
        class="form-control"
        id="keyword"
        placeholder="What songs are you currently listen to?"
        type="text"
        name="keyword"
      />
        <input type="submit" class="btn btn-outline-secondary" value="Search">
    </div>
    </form>
  </div>

</div>

{% endblock content %}