{% extends 'base.html' %}
{% load static %}
{% block meta %}
<style>
  h5{
    color: #121212;
  }
  .btn:hover h5{
    color: #1db954;
  }
</style>
{% endblock meta %}
{% block content %}
<div class="content-wrapper container">
  <div class="page-heading">
  {% if keyword == 'Don\'t Know Where to Start? Try Checking These Songs Out!' %}
    <h3>{{keyword}}</h3>
  {% else %}
    <h3>Result for {{keyword}}</h3>
  {% endif %}
  </div>
  <div class="page-content">
    <div class="container">
      {% for song, artist in songs_and_artists %}
        <a href="detail?artist={{artist}}&song={{song}}" class="btn btn-primary rounded-pill btn-block m-2">
          <div class="container d-flex justify-content-between text-center">
            <h5 class="align-middle">{{ song }}</h5>
            <p class="align-middle">
              by {{ artist }}
            </p>
          </div>
        </a>
      {% endfor %}
    </div>

  </div>

</div>

{% endblock content %}